menu "Memory Configuration"

config MBASE
    hex "Memory base address"
    default 0x80000000

config MSIZE
    hex "Memory size"
    default 0x10000000

config PC_RESET_OFFSET
    hex "Offset of reset vector from the base of memory"
    default 0

choice
    prompt "Physical memory definition"
    default PMEM_GARRAY
config PMEM_MALLOC
    bool "Using malloc()"
config PMEM_GARRAY
    bool "Using global array"
endchoice
